{% extends 'base.html.twig' %}

{% block title %}airBNB!{% endblock %}

{% block body %}

    <div class="container">

    <div class="jumbotron mt-5">
        <h1 class="display-3">bienvenue sur airBNB</h1>
        <p class="lead">Nous mettons en relations les voyageurs et les propriètaires qui veulent profiter d'opportunité
            et gagner de l'argent en proposant leurs bien à la location</p>
        <hr class="my-4">
        <p>vous etes voyageur ? et vous  voulez reserver</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">voir nos annonces</a>
        </p>
    </div>

        <h2 class="h1 my-5">nos appartements starts</h2>
        <div class="row mb-3">

            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
            {% endfor %}
           {# <div class="col-md-4">
                <div class="card bg-light mt-3">
                    <div class="card-header text-center">
                        3 chambres, <strong> 50&euro;/nuit</strong><br>
                        <small> pas encore note</small>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="l'image de l'appartement" style=" height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <P class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio inventore nisi qui repellat repudiandae! Assumenda deserunt ex quae quam vitae?
                        </P>
                        <a href="" class="btn btn-secondary"> voir l'annonce</a>
                    </div>

                </div>
    </div><div class="col-md-4">
                <div class="card bg-light mt-3">
                    <div class="card-header text-center">
                        3 chambres, <strong> 50&euro;/nuit</strong><br>
                        <small> pas encore note</small>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="l'image de l'appartement" style=" height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <P class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio inventore nisi qui repellat repudiandae! Assumenda deserunt ex quae quam vitae?
                        </P>
                        <a href="" class="btn btn-secondary"> voir l'annonce</a>
                    </div>

                </div>
    </div><div class="col-md-4">
                <div class="card bg-light mt-3">
                    <div class="card-header text-center">
                        3 chambres, <strong> 50&euro;/nuit</strong><br>
                        <small> pas encore note</small>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="l'image de l'appartement" style=" height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf
                        </h4>
                        <P class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio inventore nisi qui repellat repudiandae! Assumenda deserunt ex quae quam vitae?
                        </P>
                        <a href="" class="btn btn-secondary"> voir l'annonce</a>
                    </div>
                        </div>
                </div>#}

</div>
<h2 class="h1 my-5">proprietaires starts</h2>
<div class="row">
    {% for data in users %}
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">
                    {{ data.user.fullName }}
                </h4>
                <div class="card-text">
                    <img src="{{ data.user.picture }}" alt="avatar de {{ data.user.fullName }}"  class="float-left mr-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, tempore!</p>
                    <a href="{{ path('user_show',{'slug':data.user.slug}) }}" class="btn btn-success float-right">en savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    {#<div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">
                    geoffroy
                </h4>
                <div class="card-text">
                    <img src="https://via.placeholder.com/64x64" alt="avatar de geoffroy"  class="float-left mr-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, tempore!</p>
                    <a href="" class="btn btn-success float-right">en savoir plus</a>
                </div>
            </div>
        </div>
    </div>  #}
    {% endfor %}
</div>
    </div>

{% endblock %}
